<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-acs" version="0.0.1">
    <name>ACS</name>

    <description>Cordova plugin for advanced card systems NFC reader.</description>
    <license>MIT</license>

    <keywords>cordova,android,nfc,acr</keywords>
    <repo>https://github.com/Eonfire/cordova-plugin-acs</repo>
    <issue>https://github.com/Eonfire/cordova-plugin-acs/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/acs.js" name="ACS">
        <clobbers target="window.plugins.acs" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Acs">
                <param name="android-package" value="com.nuvopoint.cordova.plugins.acs"/>
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
            <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
        </config-file>
        <!-- Gradle -->
        <framework src="src/acs.gradle" custom="true" type="gradleReference" />
        <!-- Source files -->
        <source-file src="src/android/com/nuvopoint/CardReader.java" target-dir="src/com/nuvopoint/cordova/plugins/cardReader" />

        <!-- Recourse files -->
        <resource-file src="src/libs/acsbt-1.0.1.aar" target="libs/acsbt-1.0.1.aar"/>
    </platform>
</plugin>